@model int
<div>
    <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model">Update</button>
</div>
<div>
    <a class="btn btn-success" asp-action="Index">Back To List</a>
</div>
